﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div><button id="login">login</button></div>
    <div id="user-token"></div>
    <div><button id="book">Send Booking Request</button></div>
    <div id="book-time">booked at <span></span></div>
    <div><button id="logout">Logout</button></div>
    <input type="hidden" id="token-store" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script>
        $("#login").click(function (e) {
            $.post("api/values/login", { "Username": "eric", "Password": "2134" }).then(function (data) {
                console.log(data);
                $("#token-store").val(data.token);
                $("#user-token").html(data.username + " token: " + data.token);
            })
        });
        $("#logout").click(function (e) {
            $("#token-store").val('');
        });
        $("#book").click(function (e) {
            $("#book-time span").html("");
            $.ajax({
                url: 'api/values',
                type: 'post',
                headers: {
                    Authorization: "Bearer " + $("#token-store").val()
                },
                dataType: 'json',
                data: { "Username": "eric", "Password": "2134" }
            }).then(function () { alert('success') }).catch(function (e) { alert("401 error") })
        });
    </script>
</body>
</html>